CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8I_S3=y

CONFIG_DEFAULT_DEVICE_TREE="sun8i-s3-generic"
CONFIG_SPL=y
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_MEMINFO=y
CONFIG_BOOTDELAY=0

CONFIG_NETDEVICES=y
CONFIG_SUN8I_EMAC=y
CONFIG_NET_RANDOM_ETHADDR=y

CONFIG_DM_SPI=y
CONFIG_SUNXI_SPI=y

CONFIG_MMC=y
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_MMC0_CD_PIN="PF6"

CONFIG_CMD_BMP=y
CONFIG_VIDEO_BPP8=y
CONFIG_VIDEO_SIMPLE=y
CONFIG_VIDEO_DT_SIMPLEFB=y

CONFIG_DM_REGULATOR=y
CONFIG_REGULATOR_PWM=y
CONFIG_DM_PWM=y
CONFIG_PWM_SUNXI=y
CONFIG_BACKLIGHT_PWM=y
