CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-licheepi-zero"
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_MEMINFO=y
CONFIG_BOOTDELAY=0
#CONFIG_VIDEO_LCD_MODE="x:1024,y:600,depth:16,pclk_khz:45000,le:88,ri:176,up:25,lo:20,hs:5,vs:5,sync:3,vmode:0"
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200  panic=5 vt.global_cursor_default=0  rootwait root=/dev/mmcblk0p2 earlyprintk rw  init=/linuxrc"
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="load mmc 0:1 0x41000000 zImage; load mmc 0:1 0x41800000 sun8i-v3s-licheepi-zero-with-1024x600-lcd.dtb; bootz 0x41000000 - 0x41800000"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:auto"

CONFIG_NETDEVICES=y
CONFIG_SUN8I_EMAC=y
CONFIG_NET_RANDOM_ETHADDR=y

CONFIG_DM_SPI=y
CONFIG_SUNXI_SPI=y

CONFIG_MMC=y
CONFIG_MMC_SUNXI_SLOT_EXTRA=2

CONFIG_SPLASH_SCREEN=y
CONFIG_CMD_BMP=y
CONFIG_VIDEO_BPP8=y
CONFIG_VIDEO_SIMPLE=y
CONFIG_VIDEO_DT_SIMPLEFB=y
#CONFIG_VIDEO_LCD_POWER="PB4"
CONFIG_HIDE_LOGO_VERSION=y

CONFIG_DM_REGULATOR=y
CONFIG_REGULATOR_PWM=y
CONFIG_DM_PWM=y
CONFIG_PWM_SUNXI=y
CONFIG_BACKLIGHT_PWM=y


CONFIG_USB_GADGET_VBUS_DRAW=250

CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_SUNXI=y
CONFIG_USB_MUSB_DISABLE_BULK_COMBINE_SPLIT=y
CONFIG_USB_MUSB_PIO_ONLY=y
CONFIG_USB_STORAGE=y

CONFIG_PHY=y
CONFIG_PHY_SUN4I_USB=y

CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_GENERIC=y

CONFIG_CMD_USB_MASS_STORAGE=y

CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT_FLASH_MMC=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=1
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
